.TaskListItem {
    background: #f0ff8c;
    border: 1px solid #a5acaf;
    border-radius: 4px;
    color: #111;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    padding: 6px 4px;
    margin: 6px 8px;
}

.item-time {
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

.item-time p {
    margin: 0 1vw 0 0;
    padding: 0;
}

.item-text {
    display: flex;
    margin: 0;
    padding: 0;
    text-align: left;
}

.item-text p {
    margin: 0;
    padding: 0;
}

.item-break {
    display: block;
    margin: 0;
    padding: 0;
    text-align: left;
    padding-right: 2vmin;
}

.item-break p {
    /*display: block;*/
    margin: 0;
    padding: 0;
    /*text-align: center;*/
    /*padding-right: 2vmin;*/
}

.item-promote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-promote button {
    background: limegreen;
    border: none;
    border-radius: 6px 0 0 6px;
    display: block;
    height: 100%;
    margin: 0;
    padding: 1vw;
    width: 100%;
}

.item-promote button svg {
    margin: 0;
    padding: 0;
    max-height: 30px;
    width: 100%;
    height: 100%;
}

.item-delete button {
    background: red;
    border: none;
    border-radius: 0 6px 6px 0;
    display: block;
    height: 100%;
    margin: 0;
    padding: 1vw;
    width: 100%;
}

.item-delete button svg {
    margin: 0;
    padding: 0;
    max-height: 30px;
    width: 100%;
    height: 100%;
}

.task-list-item-top-row {
    font-family: 'Avenir', sans-serif;
    font-size: 2vmin;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 8px 6px 8px;
    width: 100%;
}

.task-list-item-bottom-row {
    font-family: sans-serif;
    background: orangered;
    font-size: 2vmin;
    width: 100%;
    transition: ease-in-out .6s all;
}

.reveal-notes-open {
    height: auto;
}

.reveal-notes-close {
    height: 0px;
}

.item-notes-toggle {
    font-size: 2vw;
    height: auto;
    margin: auto;
    padding: .5vw;
    font-family: 'aldrich', 'helvetica', sans-serif;
}

.item-notes-toggle-wrapper.col-3 {
    padding: 0 2vmin;
    margin: 0;
    height: 100%;
}
