{
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"parserOptions": {
		"ecmaversion": 8,
		"ecmaFeatures": {
      "defaultParams": true,
      "destructuring": true,
      "restParams": true,
      "spread": true,
      "arrowFunctions": true,
			"experimentalObjectRestSpread": true,
			"jsx": true
		},
		"sourceType": "module"
	},
	"plugins": [
		"react"
	],
	"rules": {
		"brace-style": 0,
		"linebreak-style": 0,
		"no-console": 0,
		"no-undef": 0,
	  "indent": "off",
	  "react/jsx-closing-bracket-location": "off" ,
	  "react/jsx-indent-props": "off",
	  "react/jsx-indent": "off",
		"semi": [2, "never"]
	}
}
