{
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"parserOptions": {
		"ecmaversion": 8,
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true,
			"jsx": true
		},
		"sourceType": "module"
	},
	"plugins": [
		"react"
	],
	"rules": {
		"brace-style": 0,
		"linebreak-style": 0,
		"no-console": 0,
		"no-undef": 0,
		"indent": [1,"tab"],
		"react/jsx-closing-bracket-location": 1,
		"react/jsx-indent-props": 0,
		"react/jsx-indent": [1,"tab"],
		"semi": ["error", "never"]
	}
}
