.ControlPanel {
	background: #a5acaf;
	display: block;
}

.ControlPanel form .task-time-inputs {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.ControlPanel form .task-time-inputs input {
	width: 100%;
}

input.time-input {
	width: 100%;
}