.ClockWrapper {
	background: #111;
	border: solid 1px #a5acaf;
	border-radius: 15px 15px 0 0;
	display: block;
	width: 100%;
}

.work-rest-alert {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5vh;
}

.work-rest-alert p {

}

.timer-toggle {

}

.timer-toggle-wrap {

}

.timer-toggle button {
	background: #00ff00;
	color: black;
	font-size: 2vh;
}

#timer-toggle {
  border-radius: 0;
	box-shadow: 0 0 15px yellow;
	font-family: 'Baloo', 'Roboto', 'sans-serif';
}
