.App {
    font-family: 'Baloo', 'Roboto', 'sans-serif';
    height: auto;
    max-width: 1400px;
    min-height: 100vh;
    text-align: center;
    width: 100%;
}

.wrapper {
    background: transparent;
    margin-bottom: 2vmin;
}