.AppTitle {
	background: transparent;
	display: block;
	line-height: 1;
}

.AppTitle p,
.AppTitle small {
	color: #bbb;
	font-family: 'Exo2';
	margin: 0;
	padding: 0;
	text-shadow: 5px 3px 1px #000;
}

.AppTitle h2 {
	color: yellow;
	font-size: 6vmin;
	text-shadow: 5px 3px 1px #000;
}
