.AppTitle {
	background: transparent;
	line-height: 1;
}

.AppTitle p,
.AppTitle small {
	color: #bbb;
	font-family: 'Exo2';
	text-shadow: 5px 3px 1px #000;
}

.AppTitle .app-title-main small {
	font-size: 1.5vmin;
}

.AppTitle h2 {
	color: yellow;
	font-size: 7vmin;
	text-shadow: 5px 3px 1px #000;
}
