.DigitalClockDisplay {
	background: transparent;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.clock-display-label {
	margin: 0;
	padding: 0;
}
.clock-display-label.hours {
	background: orangered;
	box-shadow: 0 0 15px orange;
	border-radius: 5px;
	font-size: 2vmin;
}
.clock-display-label.minutes {
	background: cornflowerblue;
	box-shadow: 0 0 15px cornflowerblue;
	border-radius: 5px;
	font-size: 2vmin;
}
.clock-display-label.seconds {
	background: greenyellow;
	box-shadow: 0 0 15px yellow;
	border-radius: 5px;
	font-size: 2vmin;
}

.clock-display {
	margin: 0;
	font-family: 'Offside', 'Baloo', 'Roboto', 'sans-serif';
}

.clock-display.hours {
	color: orangered;
	text-shadow: 0 0 10px orange;
}

.clock-display.minutes {
	color: cornflowerblue;
	text-shadow: 0 0 10px cornflowerblue;
}

.clock-display.seconds {
	color: greenyellow;
	text-shadow: 0 0 10px yellow;
}

.seperator-wrapper {
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 10vmin;
}

.seperator {
	margin: 0;
	padding: 0;
}
