.TaskListWrapper {
  background: darkmagenta;
	border-radius: 0 0 15px 15px;
}

.task-list-title {
  background: transparent;
	border: 1px solid #a5acaf;
	color: #a5acaf;
	font-size: 3vh;
  text-shadow: 3px 3px 1px #111;
}

.task-list-title p {

}
