.TaskList {
	background: #474748;
}

ul.task-list-ul {
  border-radius: 8px;
  list-style: none;
  margin: 2vw 1vw;
  padding: .5vw 0;
  background: #a5acaf;
}

p.no-tasks-msg {
  color: #111;
  margin: 0;
  text-align: left;
  padding: 0 2vmin;
  font-size: 2.5vmin;
}

.column-headers {
  background:white;
  color: black;
  font-size: 2vmin;
  padding: 0 1vw;
  text-align: left;
}

.column-header-notes {
  padding-left: 2vw;
}

.column-header-name {
  text-align: left;
}

.column-header-work {
  text-align: left;
}

.column-header-rest {
  text-align: left;
}

.column-header-name p {
  padding: 0 0 0 1vmin;
  margin: 0;
}

.column-header-work p {
  margin: 0;
  padding: 0;
}

.column-header-rest p {
  margin: 0;
  padding: 0;
}
